config DRM_RCAR_DU
	tristate "DRM Support for R-Car Display Unit"
	depends on DRM && ARCH_SHMOBILE
	select DRM_KMS_HELPER
	select DRM_KMS_CMA_HELPER
	select DRM_GEM_CMA_HELPER
	help
	  Choose this option if you have an R-Car chipset.
	  If M is selected the module will be called rcar-du-drm.

config ANALOG_RGB_CH
	int "Display analog RGB output channel"
	range 0 1
	default 0
	depends on DRM_RCAR_DU
	help
	  This option is selection of DU channel for analog RGB
	  output.
	  if you want to set Analog RGB output to DU0, you set "0".
	  if you want to set Analog RGB output to DU1, you set "1".

config LVDS_CH
	int "Display LVDS output channel"
	range 1 1
	default 1
	depends on DRM_RCAR_DU
	help
	  This option is selection of DU channel for LVDS
	  output.
	  if you want to set LVDS output to DU1, you set "1".
